<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<title>AnonReview</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div class="container">

			<h1>AnonReview</h1>
			<p class="subtitle">Team 3 – HomeworkBusters</p>

			<ul class="nav-links">

				<li>
					<a href="{{ url_for('login') }}">Log In</a>
				</li>

				<li>
					<a href="{{ url_for('register') }}">Register</a>
				</li>

				<li>
					<a href="{{ url_for('dashboard') }}">Dashboard</a>
				</li>
			</ul>

		</div>
	</body>
</html>
