<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Welcome to AnonReview!</h1>

    <h2>Log In</h2>

    <form method="post" action="">

            {{ form.hidden_tag() }}

            <div>{{ form.user_name.label }}: {{ form.user_name() }}</div><br>
            <div>{{ form.password.label }}: {{form.password() }}</div><br>
            <div>{{ form.submit() }}</div><br>
        
    </form>

    <a href="{{ url_for('register') }}">Don't have an account? Register!</a>


    {% if invalid_login == True %}

    <p>Please enter a valid username and password.</p>

    {% endif %}

    {% if not_active == True %}

    <p>Your account has been banned or suspended. Please contact admin for more details.</p>

    {% endif %}

    {% with messages = get_flashed_messages() %}

    {% if messages %}

    <ul class="flashes">

        {% for message in messages %}

        <li>{{ message }}</li>

        {% endfor %}

    </ul>

    {% endif %}

    {% endwith %}

    
</body>
</html>