<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Welcome to AnonReview!</h1>

    <h2>Register</h2>

    <form method="post" action="">

            {{ form.hidden_tag() }}

            <div>{{ form.user_name.label }}: {{ form.user_name() }}</div> <br>
            <div>{{ form.password.label }}: {{form.password() }}</div> <br>
            <div>{{ form.password_check.label }}: {{form.password_check() }}</div> <br>
            <div>{{ form.email.label }}: {{ form.email() }}</div> <br>
            <div>{{ form.role.label }}: {{form.role() }}</div> <br>
            <div>{{ form.submit() }}</div> <br>
        
    </form>

    <a href="{{ url_for('login') }}">Already have an account? Log in!</a>

     {% if different_passwords %}

    <p>Passwords do not match.</p>

    {% endif %}

    {% if username_already_exists %}

    <p>Account with this username already exists.</p>

    {% elif email_already_exists %}

    <p>Account with this email already exists.</p>

    {% endif %}
    
</body>
</html>