<!doctype html>
<html>
<head>
    <title>{{ filename }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h2>{{ filename }}</h2>

<table class="code-view">

{% for line in lines %}

<tr>

<td class="line-number">
{{ loop.index }}
</td>

<td class="code-line">
<pre>{{ line }}</pre>
</td>

</tr>

{% endfor %}

</table>

<h2>Comments</h2>
<ul>
	{% for comment in comments %}
	<li>{{ comment }}</li>
	{% endfor %}
</ul>

<form action="/submit_form" method="POST">
    	<textarea id="comment" name="comment" placeholder="Leave a comment..." required></textarea>
	<input type="hidden" value={{filename}} name="filename"/>
	<br>
    	<button type="submit">Post Comment</button>
</form>

<br>

<a href="{{ url_for('list_files') }}">Back to Files</a>

</div>

</body>
</html>
